body {background-image:url(BGF.jpg);)}

h2 {font-family:Courier New;
    font-weight:bold;
    color:White;
    text-align:center;}

.button {font-family;Century Schoolbook;
         font-weight:bold;
         float:right;}